#mapContact {
    display: none;
}

.contactPic {
    width: 100%;
    height: 30%;
}

.contactInfo h2 {
    font-weight: lighter;
}

.contactInfo {
    padding-inline: 10%;
    width: 50%;
}

.nameAndPhone div {
    width: 50%;
}

.nameAndPhone {
    display: flex;
    justify-content: space-between;
}

.nameAndPhone div:nth-child(2) {
    transform: scaleX(-1);
}

.nameAndPhone div:nth-child(2) input,
.nameAndPhone div:nth-child(2) h3 {
    transform: scaleX(-1);
}


.nameAndPhone div input {
    width: 80%;
}

textarea {
    height: 300px;
    width: 99%;
}

